* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

/**header**/
header {
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow:
        inset 0 -3em 3em #EBE7EC,
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.header-container {
    min-height: 20px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    color: #4b8b3b;
}

#animatelogo{
    font-size: 35px;
    padding: 20px;
}

/* .logo h2 {
    color: grey;
    font-size: 35px;
    font-family: 'Mukta', sans-serif;
    cursor: pointer;
} */

.nav-links a {
    color: grey;
    text-decoration: none;
    display: inline-block;
    padding: .5em .5em;
}

.nav-links a:hover {
    color: darkgrey;
}

nav ul {
    padding: 0;
    text-align: center;
}

.nav-links li {
    display: inline;
    font-size: 20px;
}

.nav-links {
    list-style-type: none;
}

.shop-button button {
    font-size: 16px;
    color: white;
    font-weight: bolder;
    background-color: brown;
    border-radius: 50px;
    border: none;
    padding: 5px 20px 5px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.close {
    display: flex;
    justify-content: center;
}

.close button {
    background-color: #c2bdbd;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 40px;
}

.shop-modal {
    position: fixed;
    right: 0;
    top: 58px;
    overflow: auto;
    background-color: white;
    z-index: 3;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    width: 20%;
    padding: 40px 20px 20px 20px;
    box-shadow: inset 0 -3em 3em #EBE7EC, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    /* transform: translateX(40px);
    transition: all 1.5s ease; */
    overflow: auto;
}

.show-shop-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.starter-plan {
    width: 80%;
    float: left;

}

.plan-price {
    width: 20%;
    float: right;
}

.plan-detail {
    padding-bottom: 30px;
    font-size: 20px;
    color: rgb(180, 115, 115);
}

.modal-shop-now {
    display: flex;
    justify-content: center;
}

.modal-shop-now button {
    border: none;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
    background-color: #c2bdbd;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Learn-more-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.Learn-more-button a {
    text-decoration: none;
}

.Learn-more-button a:hover {
    text-decoration: underline;
}

.price-icons {
    display: flex;
    justify-content: space-between;
}

.price {
    border-radius: 20px;
    background-color: #a35f5f;
    padding: 8px;
}

.price-icons i {
    font-size: 12px;
}

.price-icons span {
    font-size: 16px;
}

.product-image img {
    max-width: 100%;
}

.product-image {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/**Text after header**/

.advertise-text {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 40px;
    font-size: 16px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(211, 164, 190));
}

.advertise-text small,
a {
    color: grey;
}

/**Section - Slider**/

.image-slider-container {
    position: relative;
    min-height: 10vh;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.slider-content {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 10%;
    color: white;
    max-width: 300px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.009em;
}

.slide-title {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.slide-paragraph {
    margin-bottom: 20px;
}

.paragraph-button-container {
    text-align: left;
}

.slide {
    width: 100%;
    vertical-align: middle;
}

.image-slider img {
    max-width: 100%;
    border-radius: 10px;
}

.slide-button {
    /* padding: 10px 30px 10px 30px; */
    display: block;
    background-color: darkgrey;
    color: white;
    border-radius: 20px;
    width: 180px;
    text-align: center;
    line-height: 50px;
}

.slide-button:hover {
    background-color: lightgrey;
}

/**Section - Tribute**/

.tribute {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fafafa;
}

.tribute-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.tribute-item {
    padding: 20px;
    text-align: center;
    margin: 0px 70px;
}

.tribute-item p {
    margin-bottom: 0px;
    font-family: "Whitney A", "Whitney B", Helvetica, Arial, sans-serif;
    font-weight: 100;
}


.tribute-item img {
    background: transparent;
    width: 70px;
    height: 70px;
}

.mission-parallax {
    background-image: url('assets/images/mission-background.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission-background {
    background-image: url('assets/images/mission-background.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 535px;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.mission-content {
    margin: 0 40px;
    text-align: center;
}

.mission-title {
    display: flex;
    justify-content: center;
    margin: 0 5px;
    font-weight: 500;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}

.mission-content p:nth-child(2) {
    color: #fff;
    font-size: 25px;
}

/**Features*/
.features {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 450px);
    grid-gap: 50px;
    margin: 70px;
}

.features>article img {
    width: 100%;
    border: 0;
    border-radius: 5px;
}

.columns-card_heading {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 2.5;
    color: #606060;
}

.columns-card_body {
    font-family: 'Big Shoulders Text', cursive;
    line-height: 1.6em;
    letter-spacing: 0.0125em;
    color: #606060;
    font-size: 20px;
    line-height: 24px;
}

.columns-card>ul {
    list-style: none;
}

.card_icon {
    margin-top: 15px;
}

.card_icon>i {
    padding: 0 10px 0 10px;
    color: #b96262;
}

.fa-question-circle {
    cursor: pointer;
}


/**Modal**/

#modal_opener {
    padding: 4px 0;
    left: 50%;
    top: 50%;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    padding: 10px 10px;
    border: none;
    transition: background 0.2s ease;
}

#modal_opener:hover {
    cursor: pointer;
    background: #469fdb;
}

#modal_opener::after {
    content: "";
    display: block;
    left: 50%;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: rgba(230, 169, 169, 0.4);
    opacity: 0.4;
    transform: translateX(-50%) translateY(-50%);
    bottom: -30px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
}

.modal .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background: rgba(0, 0, 0, 0.85);
}

.modal_content {
    z-index: 999;
    overflow: auto;
    overflow-y: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    overflow: auto;
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 4px;
    width: 520px;
    /* This just a default width */
}

.modal_content h2 {
    font-size: 28px;
    font-weight: 200;
    margin: 20px 0px 15px;
    text-align: center;
    font-family: 'Grenze', serif;

}

.modal_content p {
    font-family: 'Grenze', serif;
    font-size: 17px;

}


.modal .modal_content .buttons_wrapper {
    padding: 20px;
}

.modal .close_modal {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 25px;
    opacity: 0.5;
    background: none;
    border: none;
    transition: opacity 0.2s ease;
}

.modal .close_modal:hover {
    opacity: 0.9;
}

.modal_features {

    display: grid;
    overflow: auto;
    overflow-y: hidden;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 130px);
    grid-gap: 30px;
    margin-top: 20px;
}
.modal_features_card {
    line-height: 30px;
}
.modal_features p {
    padding: 0px;
}

.modal_header {
    margin: 0;
    padding: 10px;
    background-color: #F8F8F8;
}

.modal_features>article img {
    width: 100%;
    border: 0;
    border-radius: 5px;
}

.modal_features_ul {
    text-align: left;
    padding-left: 15px;

}
.modal_features_header {
    text-align: left;

}

/**faq**/

.faq-container {
    max-width: 90%;
    margin: 20px auto;
    padding: 40px 40px 40px 40px;
    overflow: hidden;
}

.faq-title {
    float: left;
    width: 40%;
    color: grey;
}

.question-main {
    float: right;
    width: 60%;
}

.answer-container {
    overflow: hidden;
    display: none;
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
}

.answer {
    margin: 5px 0;
}

.answer-container.show {
    display: block;
    /* max-height: 0px;     */
}

.question-title {
    font-size: 18px;
    color: grey;
    cursor: pointer;
    text-decoration: none;
}

.question {
    padding-left: px;
}

.question-title::before {
    content: '\002B';
}

.active::before {
    content: "\2212";
}

.active,
.question-answer-container:hover {
    background-color: #ccc;
}

.question-answer-container {
    margin-bottom: 20px;
}

.see-all-faq {
    border: none;
    background-color: white;
    color: grey;
    text-align: center;
}

.all-faq-container {
    text-align: center;
}

.all-faq-container a {
    padding: 15px 35px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
}


/**Footer**/

footer {
    background-color: rgb(128, 128, 128);
    color: white;
    display: block;
    text-align: center;
    padding: 30px 0 0 0;
    margin-top: 50px;
    display: block;
    font-size: 14px;
    font-family: 'Mukta', sans-serif;
}

footer ul {
    display: block;
    list-style-type: none;
}

.footer-top-links li {
    display: inline-block;
    margin: 50px 0 10px 0;
}

footer a {
    display: block;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footer-email-input {
    display: inline-block;
    border-bottom: 1px solid white;
}

button[type=submit] {
    cursor: pointer;
    float: left;
    width: 30px;
    height: 25.2px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: transparent;
}

input[type=email]::placeholder {
    color: white;
    font-weight: 400;
}

input[type=email] {
    width: 270px;
    display: block;
    float: left;
    padding: 5px 10px 5px 0;
    border: none;
    background-color: transparent;
}

.footer-social-links {
    font-size: 20px;
    margin-bottom: 50px;
}

.footer-social-links li {
    display: inline-block;
}

.footer-social-links a {
    display: block;
    cursor: pointer;
}

.footer-social-links li:nth-child(2) {
    margin: 0 10px 0 10px;
}

.footer-bottom-links li {
    display: inline-block;
}

.footer-bottom-links {
    background-color: rgb(107, 107, 107);
}

/**Carousel component*/
.glide {
    padding: 0 0 15vh 0;
    max-width: 70%;
    margin: 0 auto;
    padding: 0px;
}

.glide__track {
    overflow: visible;
    height: 80vh;
    max-width: 100%;
    border-radius: 10px;
    object-position: center;
}

.glide__slide {
    transition: all 200ms ease;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    object-fit: cover;

}

.glide__slide.active {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.glide__slide.pre {
    -webkit-transform: perspective(50em) rotateY(15deg);
    transform: perspective(50em) rotateY(15deg);

}

.glide__slide.following {
    -webkit-transform: perspective(50em) rotateY(-15deg);
    transform: perspective(50em) rotateY(-15deg);
}

.glide--horizontal .glide__bullets {
    bottom: 25%;
}

.glide__bullets {
    color: aqua;
}

.glide_image {
    width: 100%;
    object-fit: fill;
}

/**Media Queries*/
@media (max-width: 800px) {
    .tribute-container {
        flex-direction: column;
        justify-content: space-around;
    }

    .tribute-item {
        padding: 7px;
    }

    .tribute-item img {
        width: 40px;
        height: 40px;
    }

    .features {
        grid-template-columns: repeat(2, minmax(150px, 450px));
        grid-gap: 25px;
        margin: 25px;
    }

    .modal_content {
        max-width: 300px;
        max-height: 600px;
    }

    .modal_content h2 {
        font-size: 20px;
    }
    .modal_content p {
        font-family: 'Grenze', serif;
        font-size: 15px;
    }

    .modal_features>article img {
        width: 70%;
    }

    .columns-card_heading {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .mission-background {
        background-image: url('assets/images/mission-background.jpg');
        min-height: 200px;
    }

    .mission-title {
        font-size: 40px;
        text-align: center;
    }

    .mission-content p:nth-child(2) {
        color: #fff;
        font-size: 15px;
    }

    .glide_image {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    .glide__track {
        height: 40vh;
        max-width: 100%;
    }

    /**media query for image slider start**/
    .paragraph-button-container {
        margin-top: 20px;
    }

    .slider-content {
        top: 0;
        margin-bottom: inherit;
        margin-top: 20px;
        color: white;
        padding: 5px 0 10px 0;
        text-align: center;
    }

    .slide-title {
        margin-top: 15px;
        font-size: 20px;
    }

    .slide-paragraph {
        font-size: 14px;
        max-width: 100vw;
    }

    .slide-button {
        font-size: 10px;
        width: 100px;
        margin-left: 30%;
        line-height: 20px;
    }

    /**media query for image slider end**/
}

@media (max-width: 600px) {
    .header-container {
        display: block;
        text-align: center;
    }

    .shop-button button {
        display: none;
    }

    .image-slider-container {
        max-width: 95%;
        margin: 0 auto;
    }
}